# Habilitar o mecanismo de reescrita de URLs
RewriteEngine On

# Redirecionar tudo para index.html, exceto arquivos reais e diretórios
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
